# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.so

# Virtual environment
venv/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg

# Pytest cache
.pytest_cache/

# IDE specific files (optional, depending on your editor)
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
